.container{
    padding: 100px 10%;
    display: flex;
    min-width: 100vh;
}

.header{
    text-align: left;
}


.pictureContainer{
    min-width: 30%;
    padding: 10px;
}

.picture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.pContainer{
    padding: 10px 40px;
}

.paragraph{
    text-align: left;
}

.list {
    text-align: left;
}